* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font: 400;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: sans-serif;
}

.container form {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
.container form label {
  margin: 2px;
}
